body {
  margin: 0;
}

.banner {
  position: relative; /* Necessário para posicionar os textos sobre o banner */
  width: 100%;
  height: 400px; /* Altura do banner */
  background-size: cover; /* Faz a imagem ocupar todo o espaço */
  background-position: center; /* Centraliza a imagem */
}

.banner-content {

  & h1 {
    position: absolute; /* Para posicionar o conteúdo sobre o banner */
    top: 25%; /* Centraliza verticalmente */ 
    left: 40%; /* Centraliza horizontalmente */
    right: 12%; 
    font-size: 50px;
    font-weight: bold;
    text-align: center; /* Centraliza os textos */
    color: #fff; /* rgba(30, 29,79); /* Cor do texto */ 
    background: rgba(30, 29,79, 0.5);
    border-radius: 20px;
  }

  & p {
    position: absolute; /* Para posicionar o conteúdo sobre o banner */
    top: 99%; /* Centraliza verticalmente */
    left: 19.7%; /* Centraliza horizontalmente */
    font-size: 40px;
    font-weight: 600;
    text-align: left; /* Centraliza os textos */
    transform: translate(-0%, -0%); /* Ajusta o ponto de referência */
    -webkit-text-stroke: 0.2px #fff; /* Largura e cor da borda */
    color:  rgba(30, 29,79); /* Cor do texto */
  }
}

.secao1 {
  font-weight: bold;
  font-size: 60px;
  text-align: center; /* Centraliza os textos */
  color: #fff; /* rgba(30, 29,79); /* Cor do texto */
  padding-top: 20px;
}

.box-left {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  font-size: 40px;
  border-radius: 5px;
  text-align: left; /* Centraliza os textos */
  height: 200px;
  background: linear-gradient(270deg, #363467 0%, rgba(30, 29,79, 1) 100%);

  & h2 {
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 20px;
  }

  & p {
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    color: #fff;
  }
}

.box-left-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
}
.box-left-image2 {
  display: flex;
  align-items: center;
  width: 430px;
}

.box-right {
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  font-size: 40px;
  border-radius: 5px;
  text-align: left; /* Centraliza os textos */
  height: 200px;
  background: linear-gradient(90deg, #363467  0%,  rgba(30, 29,79, 1) 100%);

  & h2 {
    margin-left: 40px;
  }

  & p {
    margin-left: 40px;
    margin-right: 34px;
    font-size: 20px;
    color: #fff;
  }
  
}

.box-right-image {
  margin-right: 63px;
  display: flex;
  align-items: center;
  width: 550px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(30, 29,79, 0.5);
  height: 200px;
  gap: 80px;

  & button {
    border-radius: 10px;
    background: linear-gradient(180deg, #8e8cbe 0%, rgba(64, 62, 158, 0.6) 100%);
    height: 35px;
    width: 400px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;

  }

  & button:hover {
    opacity: 0.7;
  }
}